body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
    font-family: 'Roboto', sans-serif;    
}

.wrap-login {
    position: relative;
    width: 450px;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wrap-form {
    margin-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
}

.wrap-input {
    height: 60px;
}

.input-style {
    width: 100%;
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn-custom {
    background-color: #6fb555;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px 12px;
}

.circle {
    position: absolute;
    width: 67px;
	height: 67px;
	background: #6fb555;
	border-radius: 100%;
    left: 44%;
    top: 16%;
}

.padlock {
    margin-left: 20px;
    margin-top: 14px;
    color: rgba(255,255,255, 0.8);
}

.hide {
    display: none;
}

.show {
    animation-name: alertshow;
    animation-duration: 1.5s;
}

@keyframes alertshow {
    from {opacity: 0;}
    to {opacity: 100;}
  }



/* Content */
.bg-nav {
    background-color: #6fb555;
    height: 70px;
}

.dropdown-menu {
    margin-left: -150px;
    text-align: end;
}

.wrapper-link {
    padding-left: 10px;
    width: 95%;
}

.wrapper-user {
    width: 5%;
}

.wrapper-contain {
    margin-top: 25px;
}

.wrapper-list {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align-last: center;
    height: 180px;
    border-bottom: 1px solid #6fb555;
}

/* .btn-aksi {
    height: 50px;
} */
/* end content */